@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Todo Management WebApp</h1>
    <p class="lead">this is WebApp Todo Management</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>User Function</h2>
        <p>
            For User
        </p>

    </div>
    <div class="col-md-4">
        <h2>Manager function</h2>
        <p>For Manager</p>

    </div>
    <div class="col-md-4">
        <h2>Admin function</h2>
        <p>For Admin</p>
    </div>
</div>
